@font-face {
    font-family: norsebold;
    src: url(./assets/fonts/norse-bold-webfont.woff),
         url(./assets/fonts/norse-bold-webfont.woff2);
    font-weight: normal;
    font-style: normal
}
:root {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: sans-serif;
}

.top-container {
    display: flex;
}

header {
    display: inline-block;
}
.header-container {
    display: flex;
    background-image: url(./assets/side-photo.jpg);
    width: 35vw;
    height: 100vh;
    margin-top: 0;

}

.side-container {
    margin-top: 25vh;
}

.logo-container {
    background-color: rgb(3, 3, 3, .4);
    height: 13vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.logo {
    width: 80px;
    height: 100px;
}

.logo-text {
    font-family: norsebold;
    font-size: 5rem;
    color: white;
}

.photo-credit {
    font-size: .8rem;
    color: white;
    margin-top: 55vh;
    margin-left: 9vw;
}

.photo-credit a {
    color: white;
}

.body {
    display: flex;
    flex-direction: column;
    width: 65vw;

}
.top-paragraph {
    height: 28vh;
    background-color: rgb(3, 3, 3, .2);
    margin-top: 0;
    padding-top: 10vh;
}

.top-paragraph p {
    margin-left: 2vw;
    margin-bottom: 2vh;
    font-size: 1.2rem;
    font-weight: 500;
}

.form-container {
    padding: 2vh 2vw;
    height: 25vh;
}

.form-container p {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 2vh;
}

form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem 3rem 3rem 3rem;
}

label {
    font-size: .7rem;
}
.form-container input {
    width: 200px;
    border: 1px solid #E5E7EB;
    border-radius: 2px;
}

.form-container input:focus {
    outline: none;
    border: 1px solid rgb(45, 102, 225);
    border-radius: 2px;
    box-shadow: .2em .2em .8em rgb(47, 46, 46);
}

.form-container input:invalid {
    outline: none;
    border: 1px solid rgb(219, 69, 69);
}

.form-container input[type="password"]:invalid {
    outline: none;
    border: 1px solid rgb(219, 69, 69);

}

footer {
    background-color: rgb(3, 3, 3, .2);
    height: 18vh;
    padding: 3vh 3vw;
    flex-grow: 1;
}



footer input {
    width: 180px;
    height: 2.5rem;
    font-weight: 700;
    color: white;
    background-color: #596D48;
    border-radius: 7px;
    margin-bottom: 3vh;
}

footer p {
    display: inline-block;
}
footer a {
    color: darkolivegreen;
}